/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700|Montserrat);
@font-face {
  font-family: 'Montserrat-bold';
  src: url("webfonts/montserrat-bold-webfont.eot");
  src: url("webfonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/montserrat-bold-webfont.woff2") format("woff2"), url("webfonts/montserrat-bold-webfont.woff") format("woff"), url("webfonts/montserrat-bold-webfont.ttf") format("truetype"), url("webfonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("webfonts/montserrat-regular-webfont.eot");
  src: url("webfonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/montserrat-regular-webfont.woff2") format("woff2"), url("webfonts/montserrat-regular-webfont.woff") format("woff"), url("webfonts/montserrat-regular-webfont.ttf") format("truetype"), url("webfonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-light';
  src: url("webfonts/montserrat-light-webfont.eot");
  src: url("webfonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("webfonts/montserrat-light-webfont.woff2") format("woff2"), url("webfonts/montserrat-light-webfont.woff") format("woff"), url("webfonts/montserrat-light-webfont.ttf") format("truetype"), url("webfonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  font-family: Montserrat, arial, sans-serif;
  background-color: #00bbdd; }

html,
body {
  overflow-x: hidden; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent; }

a:hover {
  transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  color: #333;
  border-color: #333; }

a.inverted {
  color: rgba(255, 255, 255, 0.8); }

a.inverted:hover {
  color: #fff;
  color: white;
  opacity: 1;
  border-bottom: 1px solid #fff; }

a
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

address {
  font-style: normal;
  line-height: 24px;
  display: inline-block; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Grid system
   ========================================================================== */
.container {
  padding: 20px; }

.container.container--no-padding {
  padding: 0; }

.grid {
  display: flex;
  flex-direction: column; }

.grid .grid__cell {
  flex-grow: 1; }

.grid.grid--triple-padding > .grid__cell {
  padding: 30px 0; }

.overlaid {
  position: relative; }

.overlaid__item--topright {
  -webkit-transform: translate(5%, 23%);
  -ms-transform: translate(5%, 23%);
  transform: translate(5%, 23%); }

/* ==========================================================================
   Specific stuff
   ========================================================================== */
.nav {
  position: fixed;
  height: 30px;
  width: calc(100% - ( 20px * 2 ));
  z-index: 100; }

.card {
  background: #fff;
  color: #444;
  padding: 40px 30px 30px; }

.pricing {
  vertical-align: middle;
  color: #00bbdd;
  margin: 0 10px 10px 0; }

.section--fullwidth {
  background: rgba(0, 0, 0, 0.7);
  padding: 100px 40px;
  margin: 100px 0;
  background-image: url(../assets/img/on-display-pattern.png);
  background-size: 50%; }
  .section--fullwidth.section--fullwidth--footer {
    background: #000;
    margin: 0;
    padding: 80px; }

.section--margin-bottom {
  margin-bottom: 100px; }

.section--margin-bottom-half {
  margin-bottom: 20px; }

.table--schedule {
  width: 100%; }
  .table--schedule tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .table--schedule td {
    padding: 20px 0;
    vertical-align: top; }
  .table--schedule tr > td:first-child {
    width: 120px;
    text-align: center; }
  .table--schedule tr > td:last-of-type {
    color: #444; }

svg.defs {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  display: none; }

.link--social {
  fill: #000; }
  .link--social:hover {
    border-color: transparent;
    fill: #fff; }
  .link--social svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px;
    vertical-align: middle; }

.img--circle {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  height: auto;
  width: 120px;
  margin-top: 20px; }

footer {
  margin-top: 40px; }

.logo--shopify {
  margin-bottom: 40px;
  border-bottom: 0;
  max-width: 150px;
  width: 150px;
  height: auto; }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  .card {
    padding: 60px; }

  .table--schedule tr > td:first-child {
    width: 200px; }

  .img--circle {
    margin-top: 0; } }
/* ==========================================================================
   Logo image
   ========================================================================== */
.parallax-container {
  position: relative;
  max-width: 100%; }

.parallax {
  position: absolute;
  left: 0;
  top: 0; }

.parallax-container {
  opacity: 0;
  transition: opacity .5s linear; }
  .parallax-container.parallax-container--active {
    opacity: 1; }

.hero__container {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 100%; }

.hero {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
  .hero.hero1 {
    background-image: url(../assets/img/hero/hero-1-morceaux.png); }
  .hero.hero2 {
    background-image: url(../assets/img/hero/hero-2-forme.png); }
  .hero.hero3 {
    background-image: url(../assets/img/hero/hero-3-cube.png); }
  .hero.hero4 {
    background-image: url(../assets/img/hero/hero-4-logo.png); }

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3 {
  font-family: "kepler-std-display", serif, serif;
  font-weight: normal;
  margin: 0; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h4 {
  font-family: Montserrat, sans-serif; }

p {
  margin-top: 0;
  line-height: 28px; }

a.btn, button.btn, input.btn {
  text-decoration: none;
  color: #00bbdd;
  border: 2px solid #00bbdd;
  background: transparent;
  @type--uppercase;
  padding: 15px 60px;
  display: inline-block;
  margin-top: 20px; }
  a.btn.btn--inverted, button.btn.btn--inverted, input.btn.btn--inverted {
    color: #fff;
    border-color: #fff; }

a.language-switcher {
  padding: 10px 20px; }
  a.language-switcher:hover {
    border-color: transparent; }

input {
  color: #00bbdd;
  border: 2px solid #00bbdd;
  background: transparent;
  padding: 15px;
  display: inline-block;
  margin-top: 20px; }

input[type=email] {
  width: -webkit-calc(100% - 60px) !important;
  width: calc(100% - 60px) !important; }

.type--number {
  font-size: 24px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.type--margin-half {
  margin-bottom: 10px; }

.type--margin-full {
  margin-bottom: 20px; }

.type--margin-triple {
  margin-bottom: 60px; }

.type--dark {
  color: #000; }

.type--xl {
  font-size: 60px;
  line-height: 1.325em; }
  .type--xl.fr {
    font-size: 48px; }

.type--large {
  font-size: 30px;
  line-height: 36px; }

.type--medium {
  font-size: 24px;
  line-height: 32px; }

.type--normal {
  font-size: 18px; }

.type--display {
  font-family: "kepler-std-display", serif; }

.type--uppercase {
  text-transform: uppercase;
  letter-spacing: 2px; }

.type--italic {
  font-style: italic; }

.type--center {
  text-align: center; }

.type--right {
  text-align: right; }

.type--no-margin {
  margin-bottom: 0; }

.type--underlined {
  border-bottom: 4px solid #000; }

.serif {
  font-family: "kepler-std", "kepler-std-display", serif, serif !important;
  font-weight: normal; }

.serif--bold {
  font-family: "kepler-std", "kepler-std-display", serif, serif !important;
  font-weight: bold; }

.sans-serif {
  font-family: Montserrat, sans-serif !important; }

.sans-serif--light {
  font-family: 'Montserrat-light', sans-serif !important; }

.sans-serif--bold {
  font-family: 'Montserrat-bold', sans-serif !important; }

.hidden {
  display: none !important; }

.display--block {
  display: block; }

/* Side Nav */
.menu-trigger {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  z-index: 150;
  text-decoration: none;
  background: #fff;
  border: 0 none; }

.close-menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  z-index: 150;
  text-decoration: none;
  background: #fff;
  border: 0 none; }

.side-navigation {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform .15s linear;
  padding-top: 30px;
  background: #c0c0c0;
  color: #fff;
  z-index: 200; }
  .side-navigation.side-navigation--active {
    transform: translate3d(0, 0, 0); }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

@media only screen and (min-width: 45em) {
  .type--xl {
    font-size: 72px; } }
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 45em) {
  /* Style adjustments for viewports that meet the condition */
  .container {
    padding: 20px;
    margin: 0 auto; }
    .container .grid:first-of-type, .container > .grid {
      max-width: 1460px;
      margin: 0 auto; }

  .grid {
    display: flex;
    flex-direction: row;
    box-sizing: border-box; }

  .grid--center {
    justify-content: center; }

  .grid--end {
    justify-content: flex-end; }

  .grid .grid__cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    flex-grow: 1;
    padding: 10px; }

  .grid__cell > .grid {
    width: 100%; }
    .grid__cell > .grid > .grid__cell:first-of-type {
      padding-left: 0; }
    .grid__cell > .grid > .grid__cell:last-of-type {
      padding-right: 0; }

  .grid.grid--triple-padding {
    width: 100%; }

  .grid.grid--triple-padding > .grid__cell {
    padding: 0 30px; }

  .grid--triple-padding > .grid__cell:first-of-type {
    padding-left: 0; }

  .grid--triple-padding > .grid__cell:last-of-type {
    padding-right: 0; }

  .grid .grid__cell.grid__cell--three-quarter {
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0; }

  .grid .grid__cell.grid__cell--half {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0; }

  .grid .grid__cell.grid__cell--quarter {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0; }

  .grid .grid__cell.grid__cell--fifth {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0; }

  .grid .grid__cell.grid__cell--quarter.fr-headline {
    flex-basis: 27%;
    flex-grow: 0;
    flex-shrink: 0; }

  .grid .grid__cell.grid__cell--no-flex {
    flex: 0 0 auto; }

  .grid.grid--stretch {
    align-items: stretch; }

  .hero__container {
    width: 1230px;
    height: 1230px;
    padding-top: 0; }

  .bring-up {
    margin-top: -40px; }

  .overlaid {
    position: relative; }

  .overlaid__item {
    position: absolute;
    max-width: auto; }

  .overlaid__item--topright {
    -webkit-transform: translate(-36%, 10%);
    -ms-transform: translate(-36%, 10%);
    transform: translate(-36%, 10%); }

  .overlaid__item--jury-fr {
    -webkit-transform: translate(-52%, -30%);
    -ms-transform: translate(-52% -30%);
    transform: translate(-52%, -30%); }

  .event-info.parallax-container {
    height: 80px;
    width: 500px; }

  .event-info .parallax {
    width: 500px; }

  .event-info .parallax:last-child {
    margin-top: 0px; } }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
